@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
button.custom-button {
    background-color: #2e5c99;
    height: auto;
    padding: 0.7rem 1rem;
    border-radius: 1.3rem;
    color: white;
    font-weight: 600;
    border: none;
}

button.custom-button:hover {
    background-color: #2362c0;
    color: white;
}
@media (max-width: 768px) {
    .seat-content {
        font-size: 0.7rem;
        /* Smaller for small screens */
    }
}
input.custom-input {
    padding: 0.7rem 1rem;
    border-radius: 1.3rem;
}

select.custom-input {
    padding: 0.7rem 1rem;
    border-radius: 1.3rem;
}

.custom-label {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    padding: 0.7rem 1rem;
}