.homepage {
    height: 100%;
    width: 100%;
}

.title {
    font-weight: 300;
    font-size: 2.5rem;
    /* Adjust the size as needed */
    color: #ffffff;
    /* Adjust the color as needed */
}
.bg-image {
    background-image: url('../assets/images/img.webp');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}