.seat {
    border: 0.8px solid #1e1e1e;
    background-color: #f9f9f9;
    border-radius: 0.3rem;
    /* Background color for better visibility */
    margin: 0.5rem;
    padding: 1rem;
    /* Padding to create space inside the container */
}

.seat:hover {
    background-color: #e8e8e8;
    cursor: pointer;
    /* Lighter background color on hover */
}

.seat-content {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    /* Consistent font */
    text-align: center;
    /* Center text horizontally */
    font-size: 0.8rem;
}

.aisle {
    margin-left: 3rem;
}

.selected {
    background-color: #2e5c99;
    color: white;
    /* Darker background color for selected seats */
}

.selected:hover {
    background-color: #2e5c99;
    color: white;
    /* Darker background color for selected seats on hover */
}
.blocked {
    background-color: #343434;
    color: #a1a1a1;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.blocked:hover {
    background-color: #343434;
    color: #a1a1a1;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
}